@font-face{
  font-family: "DIN";
  src: url("./../fonts/D-DIN-Bold.otf");
  font-weight: bold;
}
@font-face{
  font-family: "DIN";
  src: url("./../fonts/D-DIN.otf")
}
$rh_green: #21ce99;
$rh_highlight: #1ae9aa;
$rh_lgrey: #f4f4f5;
$rh_grey: #cbcbcd;
$rh_darkgrey: #7d8c8e;
$med_font: 16px;
$rh_fonts: "DIN", sans-serif;

.rh-button{
  border-style: none;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background: $rh_green;
  border-radius: 36px;
  padding-right: 22px;
  padding-left: 22px;
  height: 48px; 
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  -webkit-box-pack: center;
  width: 108.44px;
  box-sizing: border-box;
}

#root{
  width: 100%;
  height: 100%;
}