@font-face{
  font-family: "DIN";
  src: url("./../fonts/Gidole-Regular.ttf")
}
$rh_green: #21ce99;
$rh_highlight: #1ae9aa;
$rh_lgrey: #fafafa;
$rh_grey: #cbcbcd;
$med_font: 16px;
$rh_fonts: "DIN", sans-serif;

.rh-button{
  border-style: none;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background: $rh_green;
  border-radius: 36px;
  padding-right: 24px;
  padding-left: 24px;
  height: 48px; 
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  -webkit-box-pack: center;
  width: 108.44px;
  box-sizing: border-box;
}