@font-face{
  font-family: "DIN";
  src: url("./../fonts/Gidole-Regular.ttf")
}
$rh_green: #21ce99;
$rh_highlight: #1ae9aa;
$rh_lgrey: #fafafa;
$rh_grey: #cbcbcd;
$med_font: 16px;
$rh_fonts: "DIN", sans-serif;