footer{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    margin: 0 30px;
  }
  a.github{
    background-image: url("../images/GitHub-Mark-64px.png");
    background-size: 100% 100%;
    width: 64px;
    height: 64px;
  }
  a.github:hover{
    background-image: url("../images/GitHub-Mark-64px_green.png");
  }
  a.linkedin{
    background-image: url("../images/linkedin_logo.png");
    background-size: 100% 100%;
    width: 64px;
    height: 64px;
  }
  a.linkedin:hover{
    background-image: url("../images/linkedin_logo_green.png");
  }
}


