
.logo{
  width: 48px;
  height: 48px;
  background-image: url("../images/robinhood_logo.png");
  background-size: 100%, 100%;
}

.logo:hover{
  color: $rh_green;
  background-image: url("../images/robinhood_logo.png");
}

