#login-nav{
  position: relative;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    width: 48px;
    height: 48px;
    position: absolute;
    left: 48px;
  }
}

#logout{
  font-size: 15px;
}

#rh-logo-nav{
  background-image: url("../images/rh_logo_black.png");
  background-size: 100%, 100%;
  width: 48px;
  height: 48px;
}

#rh-logo-nav:hover{
  background-image: url("../images/rh_logo_green.png");
}

#navbar-right{
  position: absolute;
  right: 48px;
}
