.splash-nav{
  height: 72px;
  width: 1192px;
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-family: $rh_fonts;
}

.splash-logo{
  background-image: url("sherwood_logo_black.png");
  width: 25px;
  height: 35px;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  margin-top: 5px;
}

.splash-right{
  display: flex;
  align-items: center;
  height: 48px;
  width: 300px;
  justify-content: space-between;
  a{
    text-decoration: none;
  }
  div{
    display: flex;
    align-items: center;
  }
  .login{
    display: flex;
    align-items: center;
    color: black;
    font-weight: 750;
    font-size: 16px;
    letter-spacing: 0.32px;
    height: 27px;
  }
  .signup{
    margin-left: 8px;
  }
  #demo-login{
    padding-left: 33px;
  }
}

.splash-left{
  font-size: $med_font;
  display:flex;
  align-items: center;
  width: 150px;
  color: black;
  height: 48px; 
  span{
    margin-left: 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
  }
}

.login:hover{
  color: $rh_green;
}

.signup:hover, #demo-login:hover{
  box-shadow: 0px 4px 8px rgba(0,0,0,0.16)
}

.splash-left:hover{
  color: $rh_green;
  cursor: pointer;
  .splash-logo{
    background-image: url("sherwood_logo_green.png");
  }
}

.splash-body{
  width: 1192px;
  display: flex;
  justify-content: space-between;
  .welcome{
    width: 310px;
    padding-top: 230px;
    display: flex;
    flex-direction: column;
    h1{
      margin-bottom: 36px;
    }
    span{
      line-height: 27px;
      font-size: 15px;
      font-weight: 450;
      margin-bottom: 36px;
    }
  }
  img{
    margin-right: -130px;
    box-sizing: border-box;
  }
}
