#stock-about{
  h2{
    width: 676px;
    padding-bottom: 16px;
    margin: 0;
    border-bottom: 1px solid black;
  }
  h3{
    max-width: 570px;
    line-height: 22px;
    letter-spacing: 0;
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 24px; 
  }
  .grid{
    padding-top: 18px;
    display: flex;
    flex-wrap: wrap;
    width: 678.66px;
  }
}

.grid-item{
    margin: 0 6px 12px;
    flex-basis: calc(25% - 9px);
}

.grid-head{
  font-weight: 900;
}

.grid-value{
  font-weight: 600;
  letter-spacing: .25px;
  line-height: 19px;
  font-size: 13px;
}

.grid > *:nth-child(4n + 1){
  margin-left: 0;
}

.grid > *:nth-child(4n) {
  margin-right: 0;
}