#main-stock{
  margin: 0 auto;
  width: 1024px;
  padding-top: 36px;
}

#chart-value{
  height: 46px;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.7px;
}

#stock-chart{
  padding-top: 40px;
  height: 381px;
  h1{
    height: 42px;
    margin-bottom: 84px;
  }
  position: relative;
  margin-bottom: 44px;
}

#chart-percents{
  top: 42px;
  position: absolute;
  font-size: 13px;
  font-weight:600;
  margin-bottom: 10px;
}


#chart-time{
  font-size: 13px;
  top: 60px;
  position: absolute;
  width: 80px;
  color: $rh_darkgrey;
}

#chart-buttons{
  margin-top: 24px;
  margin-bottom: 12px;
  width: 676px;
  border-bottom: 1px solid black;
  height: 33px;
  button{
    background: none;
    padding: 0 0 14px;
    margin: 0 12px;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    box-sizing: border-box;
  }
  button:first-child{
    margin-left: 0;
  }
  button:hover{
    color: $rh_green;
    cursor: pointer;
  }
  button.selected{
    color: $rh_green;
    border-bottom: 2px solid $rh_green;
    padding-top: 2px;
  }
}


