#watch-button{
  margin: 24px 24px 0;
  padding: 0 40px;
  width: 227px;
  height: 48px;
  border: 1px solid $rh_green;
  border-radius: 4px;
  color: $rh_green;
}

#watch-button:hover{
  color: $rh_highlight;
  border-color: $rh_highlight;
}

#watchlist{
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09);
  padding: 0 24px 24px;
}

.watchlist-item{
  width: 227px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  margin: 0 -24px;
  padding: 0 24px;
}

.watchlist-item:hover{
  background-color: $rh_lgrey;
}

.watchlist-header{
  height: 52px;
  border-bottom: 1px solid $rh_lgrey;
  padding: 4px 24px, 0;
  padding: 4px 24px 0;
  margin: 0 -24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}